[user]
	email = 
	name = Sebastien Laveze
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = log --stat
	ll = log --pretty=format:\"%C(Yellow)%h %<(10,trunc)%C(Green)%cr %<(10,trunc)%C(Cyan)%an %C(reset)%s %C(auto)%d\"
	l = log --pretty=format:\"%C(Yellow)%h %<(10,trunc)%C(Green)%cr %<(10,trunc)%C(Cyan)%an %C(reset)%s %C(auto)%d\" -20
	co = checkout
	ci = commit -s
	cia = commit --amend
	cic = commit --reset-author -c
	autosquash = rebase -i HEAD~12 --autosquash
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rhh = reset HEAD --hard
	st = status
	cp = cherry-pick
[color]
	ui = auto
[web]
	browser = firefox
[diff "zip"]
	textconv = unzip -c -a
[gui]
	commitmsgwidth = 72
[core]
	excludesfile = /home/seb/.gitignore_global
	editor = nvim
	autocrlf = input
[merge]
	renameLimit = 40000
[sendemail.linux]
	tocmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
	cccmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"
[sendemail.buildroot]
	to = buildroot@buildroot.org
	ccCmd = "$(pwd)/utils/get-developers -e"
